*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Gabriela;
    font-size: 2em;
    font-size: 1.5em;
    background: #050505;
    background-size: cover
}

.navbar {
    background-color: rgb(102, 238, 154);
    border: none;
}
.navbar a {
    color: white;
}